@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@400;500&family=Quicksand:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5 {
 font-family: 'Inter', sans-serif;
 font-weight: 700;
}

p,
span,
input,
::placeholder,
link,
button {
  font-family: 'Poppins', sans-serif;
}
