@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700;800&family=Sacramento&family=Varela+Round&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5 {
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
}

p,
span,
input,
::placeholder,
link,
button {
  font-family: 'Varela Round', sans-serif;
}
